<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Strength Tester</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Password Strength Analyzer</h1>
        <form method="POST">
            <label for="password">Enter Password:</label>
            <input type="password" id="password" name="password" required oninput="hideResult()">
            <button type="submit">Test Password</button>
        </form>
        
        <button id="generate-password">Generate Strong Password</button>
        
        <div id="generate-password-form" style="display:none;">
            <div class="password-form">
                <label for="length">Password Length:</label>
                <input type="number" id="length" name="length" min="10" max="128">
            </div>
            <div class="password-form">
                <label for="user_chars">Characters to Include:</label>
                <input type="text" id="user_chars" name="user_chars">
            </div>
        </div>
        <div id="generate-password-button" style="display:none;">
            <button id="submit-password-generation">Generate Password</button>
        </div>

        {% if result %}
        <div class="result {{ result.strength|lower }}">
            <h2>Results</h2>
            <p><strong>Password:</strong> {{ result.password }}</p>
            <p><strong>Score:</strong> {{ result.score }}</p>
            <p><strong>Strength:</strong> {{ result.strength }}</p>
            <h2>Feedback:</h2>
            <ul>
                {% for feedback in result.feedback %}
                <li>{{ feedback }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <footer>
        <p>By: Harshit Bhatt</p>
    </footer>
</body>
</html>